body {
  margin: 0;
  padding: 0;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.fondo-grey-light{
  background-color: #E6F0F7;
}
.fondo-blue{
  background-color: #7786bb;
}
.text-blue-darken{
  color: #074A79;
}

li:hover{
  background:  #d1f2eb ;
}

.fondoazul{
  background:  #21618c;
}

.alto-nav{
  height: 50px;
}
